In [2]:
import requests
import pandas as pd
import redshift_connector
from dotenv import dotenv_values

env_vars = dotenv_values('.env')

In [3]:
function = 'TIME_SERIES_WEEKLY'
# Big Five Tech: Google, Amazon, Meta, Apple, and Microsoft (GAMAM)
symbols = ['GOOG', 'AMZN', 'METV', 'AAPL', 'MSFT']
api_key = 'WNHSBPLUX5B8HNMZ'

df = pd.DataFrame()

for symbol in symbols:
    url = f'https://www.alphavantage.co/query?function={function}&symbol={symbol}&apikey={api_key}'
    r = requests.get(url)
    data = r.json()

    symbol_df = pd.DataFrame(data['Weekly Time Series'])
    symbol_df = symbol_df.T
    symbol_df.reset_index(inplace=True)
    symbol_df.rename(columns={'index':'week_from', '1. open':'open', '2. high':'high', '3. low': 'low', 
                       '4. close':'close', '5. volume':'volume'}, inplace=True)
    
    symbol_df['symbol'] = data['Meta Data']['2. Symbol']

    df = pd.concat([df, symbol_df])

In [4]:
df.head()

    week_from      open      high       low     close     volume symbol
0  2023-06-27  121.4656  122.7200  116.9100  119.0100   50095440   GOOG
1  2023-06-23  123.5350  125.1750  119.6000  123.0200   95665041   GOOG
2  2023-06-16  123.3950  126.7000  122.1600  124.0600  147453173   GOOG
3  2023-06-09  124.6100  129.5500  122.0100  122.8700  121430664   GOOG
4  2023-06-02  126.2900  126.7450  122.8900  125.2300  113094630   GOOG